/* 1. Global Styles */
body {
    margin-top:25px;padding-top: 10px;
    background: linear-gradient(140deg, #1849bc , #a90d63 ,rgb(13, 13, 112),rgb(232, 116, 145), #4818b0 100%);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #333;  
}
h1,h2,h3,h4,h5{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold;
}

/* 2. Navbar & Branding */
.navbar{
   position: fixed;
   top:0;
   width:100%;
   z-index:1000;
}
.navbar-brand {
    font-weight: bold; font-size: 1.5rem;
    text-decoration: none !important;  display:flex;
    align-items: center;  gap: 10px;
    transition: transform 0.3s ease;
}
/* navbar links  */
.nav-link{
    color:rgb(250, 240, 240);
}

/* app label   */
.brand-text {
    font-weight: 500;
    
}

/* 3. Money Icon & Animations */
.money-logo {
    display: inline-block;
    animation: float 3s ease-in-out infinite; /* Constant floating movement */
}

.money-icon {
    color: rgb(239, 243, 18);
    font-size: 1.6rem;
    transition: 0.4s;
}
.stat-card {
         border-radius: 25px; transition: 0.5s;height:125px; width:270px;
        border-bottom: 5px solid transparent;
    }

/*  Cards, Buttons, Inputs */
.card, .btn, .form-control, .alert {
    border: 2px 3px solid rgb(54, 38, 157);
    border-radius: 8px; /* rounded corners */
}
.card-header {
    background: #fff;   font-weight: 600; border-bottom: 1px solid #eee;
}
.shadow-sm { box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important; }
@keyframes float {
    0%, 100% { transform: translateY(2px); }
    50% { transform: translateY(-4px); }
}