/* 1. Global Styles */
body {
    background:linear-gradient(100deg, #80a79a, #4a9bd0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333;
    margin:0%;
    padding: 0%;
}

/* 2. Navbar & Branding */
.navbar-brand {
    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: none !important;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s ease;
}
.nav-link{
    color:rgb(250, 240, 240);
}

/* App Name  */
.brand-text {
    font-weight: 700;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* 3. Money Icon & Animations */
.money-logo {
    display: inline-block;
    animation: float 3s ease-in-out infinite; /* Constant floating movement */
}

.money-icon {
    color: rgb(239, 243, 18);
    font-size: 1.6rem;
    transition: 0.4s;
}


/* 4. UI Components (Cards, Buttons, Inputs) */
.card, .stat-card, .btn, .form-control, .alert {
    border: none;
    border-radius: 8px; /* Standardized rounded corners */
}

.card-header {
    background: #fff;
    font-weight: 600;
    border-bottom: 1px solid #eee;
}

.shadow-sm { box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important; }

/* 5. Custom Scrollbar */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { 
    background: #0a1889; 
    border-radius: 10px; 
}

@keyframes float {
    0%, 100% { transform: translateY(2px); }
    50% { transform: translateY(-4px); }
}
