/* 1. Global Styles */
body {
    background: linear-gradient(135deg, #1c8658 0%, #311376 50%, #0b8452 100%);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #333;  margin:0%; padding: 0%;
}

/* 2. Navbar & Branding */
.navbar-brand {
    font-weight: bold; font-size: 1.5rem;
    text-decoration: none !important;  display:flex;
    align-items: center;  gap: 10px;
    transition: transform 0.3s ease;
}
/* navbar links  */
.nav-link{
    color:rgb(250, 240, 240);
}

/* app label   */
.brand-text {
    font-weight: 500;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* 3. Money Icon & Animations */
.money-logo {
    display: inline-block;
    animation: float 3s ease-in-out infinite; /* Constant floating movement */
}

.money-icon {
    color: rgb(239, 243, 18);
    font-size: 1.6rem;
    transition: 0.4s;
}
.stat-card {
         border-radius: 25px; transition: 0.5s;height:125px; width:270px;
        border-bottom: 5px solid transparent;
    }

/*  Cards, Buttons, Inputs */
.card, .btn, .form-control, .alert {
    border: 2px 3px solid rgb(54, 38, 157);
    border-radius: 8px; /* rounded corners */
}
.card-header {
    background: #fff;   font-weight: 600; border-bottom: 1px solid #eee;
}
.shadow-sm { box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important; }
@keyframes float {
    0%, 100% { transform: translateY(2px); }
    50% { transform: translateY(-4px); }
}